<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar'); -%>

    <div class="card-container">
      <h1>Courses</h1> 
	  <% courses.map((course, idx) => { %>  
	  <div class="card">
	    <p><%= course.course_name %></p>
	    <p><%= course.course_number %></p>
	    <a href="<%= course.offeringsURL %>">Course offerings</a>

	  <form action="<%= course.deleteURL %>" method="post">
	    <button type="submit">Delete</button>
	  </form>

	  <form action="<%= course.updateURL %>" method="get">
	    <button type="submit">Update</button>
	  </form>
	</div>

	  <% }) %>  

    </div>
        <a href="<%= addURL %>"><button type="submit">Add</button></a>
</body>
</html>
