<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar'); -%>

    <div class="courses-header-container">
      <h1>Courses</h1> 
	<a href="<%= addURL %>"><button type="submit" class="add-course">Add</button></a>
    </div>

    <div class="card-container">
	  <% courses.map((course, idx) => { %>  
	  <div class="card">
	    <h2 class="course-name"><%= course.course_name %></h2>
	    <p class="course-number"><%= course.course_number %></p>

	    <a class="course-offerings" href="<%= course.offeringsURL %>">See course offerings</a>

	  <form class="course-btn-form" action="<%= course.deleteURL %>" method="post">
	    <button type="submit" class="delete-btn">Delete</button>
	  </form>

	  <form class="course-btn-form" action="<%= course.updateURL %>" method="get">
	    <button type="submit" class="edit-btn">Update</button>
	  </form>
	</div>

	  <% }) %>  

    </div>
</body>
</html>
