<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.course_name %></title>
</head>
<body>
    <h1><%= course.course_name %></h1>
    <h1><%= course.course_number %></h1>
    <% offerings.map((offering) => { %>  
        <p><%= offering.time_start %></p>
        <p><%= offering.time_end %></p>
        <p><%= offering.year %></p>
        <p><%= offering.semester %></p>
        <p><%= offering.capacity %></p>
        <p><%= offering.num_enrolled %></p>
        <button onClick="window.href.window = '../../offerings/<%= offering.offering_id %>'">View Offering</button>
    <%  }) %>  
</body>
</html>