<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% offerings.map((offering) => { %>  
        <p><%= offering.time_start %></p>
        <p><%= offering.time_end %></p>
        <p><%= offering.year %></p>
        <p><%= offering.semester %></p>
        <p><%= offering.capacity %></p>
        <p><%= offering.num_enrolled %></p>
    <%  }) %>  
    <button onClick="window.location.href='../edit/<%= offering.offering_id%>'" >Update Course</button>
    <button onClick="window.location.href='../delete/<%= offering.offering_id%>'">Delete Course</button>
    <button onClick="window.location.href='../add/'">Delete Course</button>
</body>
</html>