<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar'); -%>

    <div class="content">

	<div class="header-container">
	   <h1> <%= offerings.length > 0 ? offerings[0].course_number : "No" %> Offerings</h1> 

	    <a href="<%= addURL %>">
		<button class="header-btn" >Add</button>
	    </a>
	   <a href="../">
		    <button class="header-btn secondary-btn">
			Back
		    </button>
	    </a>
	</div>
	<div class="center">
	    <div class="card-container">
		<% offerings.map((offering) => { %>
		<div class="card offering-card">
		    <h2 class="offering-sem"><%= `${offering.semester} ${offering.year}`  %></h2>
		    <p class="offering-time"><img class="card-subheading-icon" src="/icons/clock-regular-full.svg" alt=""><%= `${offering.offering_time_start}-${offering.offering_time_end}`%></p>
		    <p class="offering-enrolled"><img class="card-subheading-icon" src="/icons/user-solid-full.svg" alt=""><b><%= `${offering.num_enrolled}/${offering.capacity} `  %></b>enrolled</p>

		    <form class="course-btn-form" method="POST" action="<%= offering.deleteURL %>">
			<button class="delete-btn" type="submit">Delete</button>
		    </form>

		    <form method="GET" action="<%= offering.updateURL %>" class="course-btn-form">
			<button class="edit-btn" >Update</button>
		    </form>
		</div>
		<% }) %>
	    </div>
	</div>
    </div>
</body>
</html>
